@{
  Layout = "_Layout";
}
<br>
<br>
<h1>Welcome to Our Animal Shelter</h1>
<h3>Where would you like to navigate to?</h3>
<br>
<br>
<div class="homeNavigation">
<div>@Html.ActionLink("See all animals", "Index", "Animals") </div>
<div>@Html.ActionLink("See all caretakers", "Index", "Clients")</div>
</div>