<div id="header">
  <h2>Hello!</h2>
  @using (Html.BeginForm("Index", "Animals", FormMethod.Get))
  {
    <input type="text" name="query" />
    <input type="submit" value="Search for Animal" />
  }
</div>
