@{
  Layout = "_Layout";
}

@model AnimalShelter.Models.Client

<h2> Client Details - @Model.ClientName</h2>
<hr />

<p>No animals yet</p>
<p>@Html.ActionLink("Edit this client", "Edit", new { id = @Model.ClientId})</p>


<p>@Html.ActionLink("Back to Client list", "Index")</p>